
.animate-scroll {
    display: inline-flex;
    animation: scroll 12s linear infinite;
    /* width: max-content; */
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}