.nav-links{
    li:hover{
        background-color: green;
        border: none;
        color: white;
        border-radius: 6px;
        padding: 3px 5px;
    }
    /* .home-link{
        background-color: green;
        border: none;
        color: white;
        border-radius: 6px;
        padding: 3px 5px;

    } */
}